{% load i18n %}

<section class="pt-5">
    <header class="text-center">
        <p class="small text-muted small text-uppercase mb-1">{% translate 'Подборки товаров' %}</p>
        <h2 class="h5 text-uppercase mb-4">{% translate 'Коллекции со вкусом' %}</h2>
    </header>
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4">
            <a class="category-item" href="{{ category.get_absolute_url }}">
            <img class="img-fluid" src="{{ category.get_parent_category_photo }}" alt="">
                <strong class="category-item-title">{{ category }}</strong>
            </a>
        </div>
        {% endfor %}
    </div>
</section>