<section class="py-5 bg-light">
    <div class="container">
        <div class="row text-center gy-3">
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <svg class="svg-icon svg-icon-big svg-icon-light">
                            <use xlink:href="#delivery-time-1"></use>
                        </svg>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">Доставка</h6>
                            <p class="text-sm mb-0 text-muted">Доставка бесплатная по Ташкенту</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <svg class="svg-icon svg-icon-big svg-icon-light">
                            <use xlink:href="#helpline-24h-1"></use>
                        </svg>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">На связи 24 x 7</h6>
                            <p class="text-sm mb-0 text-muted">Только в телеграмме</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <svg class="svg-icon svg-icon-big svg-icon-light">
                            <use xlink:href="#label-tag-1"></use>
                        </svg>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">Уведомления</h6>
                            <p class="text-sm mb-0 text-muted">Будь в курсе всего</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>