<div class="col-lg-3 order-2 order-lg-1">
    <h5 class="text-uppercase mb-4">Фильтры</h5>
    <ul class="list-unstyled small text-muted ps-lg-4 font-weight-normal">


        <div class="py-2 px-4 bg-dark text-white mb-3">
            <strong class="small text-uppercase fw-bold">
                подкатегории Часы
            </strong>
        </div>


        <li class="mb-2">
            <a class="reset-anchor" href="?type=smart-chasy">
                Смарт часы
            </a>
        </li>

        <li class="mb-2">
            <a class="reset-anchor" href="?type=mehanicheskie">
                Механические
            </a>
        </li>

        <li class="mb-2">
            <a class="reset-anchor" href="?type=nastennye">
                настенные
            </a>
        </li>


        <div class="py-2 px-4 bg-dark text-white mb-3">
            <strong class="small text-uppercase fw-bold">
                По цене
            </strong>
        </div>

        <li class="mb-2">
            <a class="reset-anchor" href="?sort=price">
                По возрастанию цены
            </a>
        </li>

        <li class="mb-2">
            <a class="reset-anchor" href="?sort=-price">
                По убыванию цены
            </a>
        </li>


        <div class="py-2 px-4 bg-dark text-white mb-3">
            <strong class="small text-uppercase fw-bold">
                По цвету
            </strong>
        </div>

        <li class="mb-2">
            <a class="reset-anchor" href="?sort=color">
                От А до Я
            </a>
        </li>

        <li class="mb-2">
            <a class="reset-anchor" href="?sort=-color">
                От Я до А
            </a>
        </li>


        <div class="py-2 px-4 bg-dark text-white mb-3">
            <strong class="small text-uppercase fw-bold">
                По размеру
            </strong>
        </div>

        <li class="mb-2">
            <a class="reset-anchor" href="?sort=size">
                По возрастанию размера
            </a>
        </li>

        <li class="mb-2">
            <a class="reset-anchor" href="?sort=-size">
                По убыванию размера
            </a>
        </li>


    </ul>

</div>