{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<main>
    <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">Часы</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                                <li class="breadcrumb-item"><a class="text-dark" href="/ru/">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Часы</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container p-0">
                <div class="row">
                    <!-- SHOP SIDEBAR-->
                    {% include 'shop/components/_sort.html' %}
                    <!-- SHOP LISTING-->
                    <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                        <div class="row mb-3 align-items-center">
                            <div class="col-lg-6 mb-2 mb-lg-0">
                                <p class="text-sm text-muted mb-0">Показано 2 товара из 10 товаров</p>
                            </div>

                        </div>

                        <div class="row">
                            <!-- PRODUCT-->
                            {% for product in products %}
                            <div class="col-lg-4 col-sm-6">
                                {% include 'shop/components/_product_card.html' %}
                            </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINATION-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center justify-content-lg-end">


                                <li class="page-item mx-1 active"><a class="page-link" href="#!">1</a></li>


                                <li class="page-item mx-1"><a class="page-link" href="?page=2">2</a></li>


                                <li class="page-item mx-1"><a class="page-link" href="?page=3">3</a></li>


                                <li class="page-item mx-1"><a class="page-link" href="?page=4">4</a></li>


                                <li class="page-item mx-1"><a class="page-link" href="?page=5">5</a></li>


                                <li class="page-item ms-1"><a class="page-link" href="?page=2" aria-label="Next"><span
                                        aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock main %}