{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<main>
    {% include 'shop/components/_user_messages.html' %}
    <!--  Modal -->
    {% include 'components/_modal.html' %}
    <!-- HERO SECTION-->
    <div class="container">
        <!--Банер на главной странице-->
        {% include 'shop/components/_banner.html' %}

        <!-- CATEGORIES SECTION-->
        {% include 'shop/components/_categories.html' %}

        <!-- TRENDING PRODUCTS-->
        {% include 'shop/components/_trending_products.html' %}

        <!-- SERVICES-->
        {% include 'shop/components/_services.html' %}

        <!-- NEWSLETTER-->
        {% include 'shop/components/_newsletter.html' %}
    </div>
</main>
{% endblock main %}