{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<main>
    <div><div style="margin-top: 150px;"></div></div>
    <div class="container">
        <div class="content">
            <h2>{% translate 'Оплата прошла успешно! Спасибо за покупку!' %}</h2>
            <p>{% translate 'Вы можете продолжить покупки' %}</p>
            <a href="{% url 'index' %}" class="btn btn-success">{% translate 'Вернуться на главную' %}</a>
        </div>
    </div>
    <div><div style="margin-top: 350px;"></div></div>
</main>
{% endblock main %}